@model clinicPractice.Models.Member_EmployeeList

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member_EmployeeList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Staff_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Staff_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Blood_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Blood_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.National_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.National_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact_Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact_Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Birth_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Birth_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Emp_Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Emp_Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpPhoto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpPhoto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmpMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmpMail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Emp_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
